.container {
  max-width: 100%;
  height: 100vh;
  margin: 0 auto;
  display: -ms-grid;
  display: grid;
  font-family: "Poppins";
  -ms-grid-rows: 4rem 1fr 2rem;
  grid-template-rows: 4rem 1fr 2rem;
  grid-template-areas:
    "header"
    "content"
    "footer";
}

/* === BUTTON STYLING === */
button {
  margin: 10px 20px;
  text-transform: uppercase;
  color: #fff;
  background-color: #00adb5;
  font-size: 1rem;
  padding: 0.25rem 0.1rem;
  border: 2px solid #00adb5;
  -webkit-box-shadow: 0 2px 4px #393e46;
  box-shadow: 0 2px 4px #393e46;
  border-radius: 5px;
  font-weight: bold;
}
button:hover {
  cursor: pointer;
  color: #00adb5;
  background-color: #fff;
  -webkit-box-shadow: none;
  box-shadow: none;
}

/* === FORM STYLING === */
form {
  border: 2x solid #222831;
  background-color: #fff;
  border-radius: 10px;
  padding: 10px;
  margin: 0 10%;
  box-shadow: 0 2px 4px #393e46;
}
.form-group {
  margin: 0.8rem 0;
}
input {
  height: 1.6rem;
}
