button {
  margin: 10px 20px;
  text-transform: uppercase;
  color: #fff;
  background-color: #00adb5;
  font-size: 1rem;
  padding: 0.5rem 0.3rem;
  border: none;
  -webkit-box-shadow: 0 2px 4px #393e46;
  box-shadow: 0 2px 4px #393e46;
  border-radius: 5px;
  font-weight: bold;
}
button:hover {
  cursor: pointer;
  color: #00adb5;
  background-color: #fff;
  border: 1px solid #00adb5;
  -webkit-box-shadow: none;
  box-shadow: none;
}
