#feature-page {
  width: 96%;
  padding: 0 1rem;
  margin: 1rem auto;
}
.feature-title {
  text-align: center;
}
.feature-img {
  margin: 1rem auto;
  width: 75%;
}
.feature-set,
.set-title {
  margin: 2rem 0;
  text-align: left;
  line-height: 1.4;
}
