.content {
  -ms-grid-row: 2;
  -ms-grid-column: 1;
  grid-area: content;
  text-align: center;
  font-family: "Roboto";
  color: #222831;
}
.landing-page {
  font-size: 1.5rem;
}

/*==== HERO SECTION ====*/
#hero-page {
  height: 96vh;
  background: -webkit-gradient(
      linear,
      left top,
      left bottom,
      from(rgba(0, 0, 0, 0.75)),
      to(rgba(0, 0, 0, 0.75))
    ),
    url(https://images.unsplash.com/photo-1415304282915-d001ddefc7d7?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=42a14cb2320961b671d5b8b61f7f3522&auto=format&fit=crop&w=1350&q=80)
      no-repeat center;
  background: -webkit-linear-gradient(rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0.75)),
    url(https://images.unsplash.com/photo-1415304282915-d001ddefc7d7?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=42a14cb2320961b671d5b8b61f7f3522&auto=format&fit=crop&w=1350&q=80)
      no-repeat center;
  background: -o-linear-gradient(rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0.75)),
    url(https://images.unsplash.com/photo-1415304282915-d001ddefc7d7?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=42a14cb2320961b671d5b8b61f7f3522&auto=format&fit=crop&w=1350&q=80)
      no-repeat center;
  background: linear-gradient(rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0.75)),
    url(https://images.unsplash.com/photo-1415304282915-d001ddefc7d7?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=42a14cb2320961b671d5b8b61f7f3522&auto=format&fit=crop&w=1350&q=80)
      no-repeat center;
  background-size: cover;
  color: #fff;
}
.hero-img {
  width: 75%;
}
#hero-page p {
  font-size: 1.3rem;
  margin-bottom: 40px;
}
.button {
  margin: 0 20px;
  text-transform: uppercase;
  color: #fff;
  background-color: #00adb5;
  font-size: 1rem;
  padding: 0.5rem 0.25rem;
  border: 2px solid #00adb5;
  -webkit-box-shadow: 0 2px 4px #393e46;
  box-shadow: 0 2px 4px #393e46;
  border-radius: 10px;
  font-weight: bold;
}
.button:hover {
  cursor: pointer;
  color: #00adb5;
  background-color: #fff;
  border: none;
  -webkit-box-shadow: none;
  box-shadow: none;
}

/*==== FEATURE SECTION ====*/
#feature-page {
  width: 96%;
  padding: 0 1rem;
  margin: 1rem auto;
}
.feature-title {
  text-align: center;
}
.feature-img {
  margin: 1rem auto;
  width: 75%;
}
.feature-set,
.set-title {
  margin: 2rem 0;
  text-align: left;
  line-height: 1.4;
}

/*==== HOW TO USE SECTION ====*/
#howto-page {
  width: 96%;
  margin: 1rem auto;
}
.howto-title {
  text-align: center;
}
.howto-img {
  margin: 1rem auto;
  width: 75%;
}
.howto-content {
  padding: 0 0.25rem;
  margin-top: 1rem;
  text-align: left;
}
.howto-content p {
  margin: 0.5rem 0;
  line-height: 1.5;
}
.fake-btn {
  text-transform: uppercase;
  color: #fff;
  background-color: #00adb5;
  font-size: 0.8rem;
  margin: 0.1rem;
  padding: 0.1rem;
  border: 2px solid #00adb5;
  border-radius: 4px;
}
