/* === RECENT CRISIS PAGE STYLE === */
.recent-crisis {
  text-align: center;
  margin: 1rem 0.5rem;
}

/* === MY CRISIS PAGE STYLE === */
.my-crisis {
  text-align: center;
  margin: 1rem 0.5rem;
}

/* === MY DONATION PAGE STYLE === */
.my-donation {
  text-align: center;
  margin: 1rem 0.5rem;
}

/* === MY ACCOUNT PAGE STYLE === */
.my-account {
  text-align: center;
  margin: 1rem 0.5rem;
}
.my-account p {
  margin-bottom: 1rem;
}

/* === MY REPORT PAGE STYLE === */
.my-report {
  text-align: center;
  margin: 1rem 0.5rem;
}
#myChart {
  width: 98% !important;
  height: 90%;
}
