@media screen and (min-width: 768px) {
  .hero-img,
  .feature-img,
  .howto-img {
    width: 50%;
  }
  form {
    max-width: 720px;
    margin: 1rem auto;
  }
  .howto-content p,
  .feature-set {
    max-width: 720px;
    margin: 1rem auto;
  }
}
@media screen and (min-width: 1200px) {
  .hero-img,
  .feature-img,
  .howto-img {
    width: 25%;
  }
}
