/* === RECENT CRISIS PAGE STYLE === */
.recent-crisis {
  text-align: center;
}

/* === MY CRISIS PAGE STYLE === */
.my-crisis {
  text-align: center;
}
div .crisis-date {
  text-align: center;
}
.crisis-body {
  text-align: left;
}

/* === MY DONATION PAGE STYLE === */
.my-donation {
  text-align: center;
}

/* === MY ACCOUNT PAGE STYLE === */
.my-account {
  text-align: center;
}
.my-account p {
  margin-bottom: 1rem;
}

/* === MY REPORT PAGE STYLE === */
.my-report {
  text-align: center;
}
#myChart {
  width: 98% !important;
  height: 90% !important;
  background-color: #fff;
}
